.navbar {
  background-color:#130F1E;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  position: absolute;
  top: 0%;
  height: 100px;
  width:100vw;
  box-shadow: 0 5px 6px -1px #0000001a;
}

.navbar > div {
  display: flex;
  align-self: center;
  font-size: 1.4em;
  font-weight:700;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Medium, sans-serif;
}